.jumbotron{
    background: none !important;
    border-radius: 0 !important;
    padding-bottom: 20px !important;
}

.display-2{
    color: white !important;
}

.lead{
    color: white !important;
    font-weight: bold;
}

.rules{
    width: 740px;
    color: white !important;
    font-weight: lighter;
}

#gold{
    color:gold;
}

#bold{
    font-weight: bold;
}

#logo{
    position: absolute;
    right: 32px;
    top: 64px;
    width:600px;
}

/* Default question border */
#qBody{
    position: relative;
    background: none;
    margin: auto;
    min-height:400px;
    width:50%;
    border-radius: 10px;
    box-shadow: 
        1px 1px 10px skyblue,
        -1px -1px 10px skyblue,
        inset 1px 1px 10px skyblue,
        inset -1px -1px 10px skyblue;
}

/* Right answer border */
#rBody{
    position: relative;
    background: none;
    margin: auto;
    min-height:400px;
    width:50%;
    border-radius: 10px;
    box-shadow: 
        1px 1px 10px greenyellow,
        -1px -1px 10px greenyellow,
        inset 1px 1px 10px greenyellow,
        inset -1px -1px 10px greenyellow;
}

/* Wrong answer/timeout border */
#w_tBody{
    position: relative;
    background: none;
    margin: auto;
    min-height:400px;
    width:50%;
    border-radius: 10px;
    box-shadow: 
        1px 1px 10px red,
        -1px -1px 10px red,
        inset 1px 1px 10px red,
        inset -1px -1px 10px red;
}

#qTitle{
    padding:15px;
    padding-bottom: 0;
    font-weight: lighter;
    color: lightyellow;
    font-size: 24px;
    text-shadow: 
        0px 0px 10px gold;
    display: inline-block;
    margin-bottom: 0 !important;
}

#qTimer{
    position: absolute;
    right: 0;
    padding:15px;
    padding-bottom: 0;
    font-weight: lighter;
    color: lightyellow;
    font-size: 24px;
    text-shadow: 
        0px 0px 10px gold;
    display: inline-block;
    visibility: hidden;
    margin-bottom: 0 !important;
}

#qHr{
    height:0;
    width:100%;
    background-color: skyblue;
    box-shadow: 
        0px 0px 10px 2px skyblue;
}

#rHr{
    height:0;
    width:100%;
    background-color: greenyellow;
    box-shadow: 
        0px 0px 10px 2px greenyellow;
}

#w_tHr{
    height:0;
    width:100%;
    background-color: red;
    box-shadow: 
        0px 0px 10px 2px red;
}

.qStart{
    font-weight: lighter;
    text-align: center;
    color: white;
    font-size: 80px;
}

.txtCenter{
    text-align: center;
}

.txtQuestion{
    color: white;
    text-shadow: 
        0px 0px 15px gold;
    font-weight: lighter;
    font-size: 32px;
    padding-left: 15px;
}

.txtAnswer{
    color: white;
    text-shadow: 
        0px 0px 3px white;
    font-size: 20px;
}

.txtW_Timeout{
    color: white;
    text-align: center;
    text-shadow: 
        0px 0px 3px gold;
    font-size: 20px;
}

.btnAnswer{
    margin-left: 15px;
    display: inline;
}

#btnContainer{
    width:100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.btn{
    display: inline-block;
    width:150px;
    color: lightyellow;
    text-align:center;
    text-shadow: 
        0px 0px 10px white;
    font-size: 30px;
    border: 3px solid gold;
    border-radius: 10px;
    background-color: gold;
    box-shadow: 
        1px 1px 5px gold,
        -1px -1px 5px gold,
        inset 1px 1px 5px gold,
        inset -1px -1px 5px gold;
}

.btn:hover{
    cursor: pointer;
    color: lightyellow;
    text-shadow: 
        0px 0px 30px black;
    font-size: 30px;
    border: 3px solid lightyellow;
    border-radius: 10px;
    background-color: gold;
    box-shadow: 
        1px 1px 5px lightyellow,
        -1px -1px 5px lightyellow,
        inset 1px 1px 5px lightyellow,
        inset -1px -1px 5px lightyellow;
}

body{
    height:100%;
    background-image: linear-gradient(to right, #111, #111, #112, #113);
    z-index: -2;
}

#stars{
    opacity:0.1;
    position: fixed;
    bottom:0;
    right:0;
    z-index: -1;
}